body {
    background: $black;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
}

header {
    grid-column: 1/13;
}


main {
    grid-column:  1/5;
}

nav {
    grid-column: 5/13;
}

aside {
    grid-column: 5/13;
}

section {
    grid-column: 1/13;
}

footer {
    grid-column: 1/13;
}
