body {
    background: #fff;
    color: $black;
    font-family: sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header {
    grid-column: 1/13;
    background: #fff;
} */


main {
    grid-column:  1/5;
}

nav {
    grid-column: 5/13;
}

aside {
    grid-column: 5/13;
}

section {
    grid-column: 1/13;
}

footer {
    grid-column: 1/13;
}
