body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-gray-dark;
}

/* ===============================================
                Header-heading
================================================== */

.heading-primary {
     color: $color-white;
     text-transform: uppercase;
     margin-bottom: 6rem;
     backface-visibility: hidden;

     // &--main {
     //     display: block;
     //     font-size: 5rem;
     //     font-weight: 400;
     //     letter-spacing: 1rem;
     //     font-family: 'Rock Salt', cursive;
     //     margin-bottom: 2rem;
     // }

     &--sub {
        display: block;
        font-size: 1.9rem;
        letter-spacing: 1rem;
        font-family: 'Rock Salt', cursive;
        animation: moveToDown 1s ease-in-out;
     }
}

.heading-secondary {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right,
    $color-brown-light, $color-brown-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;

}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;
    text-align: justify;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}
