.banner {
    grid-column: 1/13;
    grid-row: auto;
    height: auto;
    position: relative;

    &__heroimage {
        display: block;
        /* position: relative; */
        width: 100%;
        height: auto;
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        padding: auto;
    }
}
