.wrapper {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-row: auto;
    /* grid-auto-rows: minmax(50px, auto); */
    grid-gap: 10px;
    margin: 0 auto;
    /* padding: 20px; */
    max-width: 100%;

    * {
        padding: 20px;
    }
}
